*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 2rem 1.5rem;
  font: 2rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
}
.msg {
  color: rgb(200, 17, 15);
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
.form1 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  border-left: 150px solid indigo;
  border-right: 150px solid indigo;
  border-top: 100px solid indigo;
  border-bottom: 100px solid indigo;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}
input[type=reset] {
  padding:5px;
  margin:20px 10px 20px 10px;
  font: 2rem/1.5 "PT Sans", Arial, sans-serif;
}
input[type=submit] {
  padding:5px;
  margin:10px 0;
  font: 2rem/1.5 "PT Sans", Arial, sans-serif;
  margin:20px 10px 20px 10px;
}
input[type=file] {
  padding:20px;
  margin:20px 0;
  font: 2rem/1.5 "PT Sans", Arial, sans-serif;
  margin:20px 10px 20px 10px;
}
/* .btn {
  border-radius:0;
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  min-width: 250px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
.btn-default {
  background: #0099cc;
  color: #ffffff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background: #33a6cc;
}
.btn-default:active, .btn-default.active {
  background: #007299;
  box-shadow: none;
} */

.output-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  border-left: 150px solid rgb(0, 85, 130);
  border-right: 150px solid rgb(0, 85, 130);
  border-top: 100px solid rgb(0, 85, 130);
  border-bottom: 100px solid rgb(0, 85, 130);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
  min-width: 250px; /* Increase button width */
}
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-default {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
/***********************
  RAISED BUTTONS
************************/
.btn-default.raised {
  box-shadow: 0 3px 0 0 #007299;
}
.btn-default.raised {
	box-shadow: 0 3px 0 0 #007299;
}
.btn-default.raised:active, .btn-default.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}